*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
   
}
.sky{
    height:100vh ;
    width: 800vw;
    background-image: url(/cloud2.jpg);
    position: absolute;
    
}
/*.tree{
    
    height: 60vh;
    width: 100%;
    background-image: url(/tree2.png);
    background-size: cover;
    
}*/
.track{
    position: absolute;
    height: 80vh;
    width: 800vw;
    background-image: url(/road.jpg);
    background-repeat: repeat-x;
    
    top: 84% ;
    animation: carmove linear .16s infinite;

}
.car{
    height: 100px;
    width: 380px;
    background-image: url(/car.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    position: absolute;
    left: 25vw;
    bottom: 9vh;
    animation: shake linear .3s infinite;
}
.wheel1 img{
    width: 57px;
    position: relative;
    top: 52px;
    left: 96px;
    animation: wheelRotation linear .16s infinite;     

}
.wheel2 img{
    width: 54px;
    position: relative;
    top: -5px;
    left: 279px;
    animation: wheelRotation linear .16s infinite;
}
@keyframes wheelRotation{
     100%{
         transform: rotate(360deg);
     }
}
@keyframes carmove{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake{
    0%{
transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);

    }
}

